body {
    /*background-color: white;*/
}

.flex-container {
    /*display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;*/

    display: flex;
    /* height: 100%; */
    /* position: absolute; */
    width: 100%;
    /* align-items: center; */
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.flex-container-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.flex-group-searh, .flex-group-select {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}

.flex-group-searh input, .flex-group-select input{

}

.flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 50%;*/
    align-items: center;
}

.flex-content-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.flex-group-select label{
    color: black !important;
}

.flex-box-btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-box-btn input {
    margin: 1% 5%;
}

.flex-box-date {
    display: flex;
    flex-direction: row;
}

.page-title {
    text-align: center;
}

#lblAccion {
    display: block;
    position: relative;
    right: 0!important;
}

span {
    position: absolute;
    right: 60%;
}

#boxMessage {
    display: none;
    margin: 1%;
}

form {
    width: 100%;
}

.flex-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

label {
    width: 100%;
    margin: 0 !important;
    text-align: center;
    color: transparent;
}

.select{
    width: 50% !important;
}
.select select{
    width: 100% !important;
}

input, select {
    border: solid 1px #EEEEEE;
    padding: 5px;
    min-height: 40px !important;
    height: 40px;
    margin-bottom: 3%;
}

input[type=submit] {
        
}

#btnAgregar, #btnAceptar {
    background-color: black;
    color: white;
}

#btnBuscar:hover, #btnCancelar:hover {
    background-color: #E8EDEC;
}
#btnAgregar:hover, #btnAceptar:hover {
    background-color: #332E33;
}
